@import url(https://www.w3.org/People/Ivan/StyleSheets/mystyle-2019.css);

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.container {
    padding: 1em;
    border-radius: 10px;
    border: 1px solid black;
}

#convert {
    grid-column: 1 / span 2;
    text-align: center;
}

.text {
    display: block;
    width: 100%;
}

@media screen and (max-width: 800px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1px;
    }
    #convert {
        grid-column: 1 / span 1;
    }
}
